
$color-primary: #3046C5;
$color-secondary:rgb(39,29,62);
$color-accent1: #BF6B00;
$color-accent2: #0F3F21;
$color-light: rgba(209, 197, 164);
$color-dark: rgb(100, 100, 100);
$color-transparent-black: rgba(0, 0, 0);

body {
    font-family: "Open Sans", sans-serif;
}

h2{
    font-size: 2.3rem;
}
h1{
    font-size: 2.5rem;;
    font-family: Rockwell;
    font-weight: 700;
}
h2, h3 {
    font-family: Rockwell;
    font-weight: 400;
}


p, input, small, cite, dd{
    font-family: stratos-light;
}
.btn,label, li, a, footer, dt{
    font-family: stratos;
}

header h1, h2 {
    color: rgb(0, 0, 0);
}

.site-footer {
    background-color: rgb(39,29,62,.9);
    padding: 20px 0;
}

.jumbotron {
    padding: 20px;
    color: white;
    background:white;
    margin: 0;
    align-items: center;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: rgb(39,29,62,.9);
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: none;
    display: block;
    width:100%
}

.nav-item{
    margin: 0 .75rem 0 .75rem;
}

.logo{
    margin: -.5rem;
    }
.btn-info{
    background-color: #0F3F21;
    border:none;
    box-shadow: 2px 2px grey;
}
.btn-info:hover{
    background-color: rgb(18, 88, 45);
    border:none;
    box-shadow: 2x 2px grey;
}
.img-thumbnail{
    border:none;
    border-radius: 25%;
}
.sh{
    background-color: rgba(209, 197, 164, 0.596);
    border-radius: 30%;
}
.card-header{
    Background-color: #BF6B00;
}
.btn-link, h5, a {
    color: white;
}
div.row-content { 
    border-bottom: 1px solid grey;
    border-top: 0px;
  }
  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
}